<ion-view title="Signup">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Pseudo</span>
                    <input type="text" placeholder="" ng-model="user.pseudo">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="" ng-model="user.password">
                </label>
                <label class="item item-input">
                    <span class="input-label">E-mail</span>
                    <input type="text" placeholder="" ng-model="user.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Main story</span>
                    <input type="text" placeholder="" ng-model="user.mainStory">
                </label>
            </ion-list>
            <button id="signup-button3" class="button button-stable  button-block">Sign up</button>
        </form>
    </ion-content>
</ion-view>